/*
 * Competition Reports page
 */
.competition-entry-reports .report-group {
  margin: 2em 0;
}

.competition-entry-reports ul.report-list {
  margin: 0;
}

.competition-entry-reports ul.report-list li {
  margin: 7px 0;
  border: 0 none;
  padding: 5px 0;
  list-style: none;
}

.competition-entry-reports .report-label.cycle,
.competition-entry-reports .report-link:first-child {
  display: inline-block;
  padding: 3px 0 3px 25px;
  background: url(../../../../core/misc/icons/bebebe/chevron-disc-right.svg) no-repeat 1px 5px;
}

.competition-entry-reports .report-label.empty {
  font-style: italic;
}

.competition-entry-reports .report-link {
  display: inline-block;
  padding: 3px 15px;
  background: none;
}

.competition-entry-reports .report-link.all {
  border-right: 1px solid #c0c0c0;
  margin-right: 2px;
}

.competition-entry-reports .report-link.status {
  background: none;
  padding-left: 15px;
  border-left: 1px solid #c0c0c0;
}

/*
 * Judging round workflow form
 */
form.competition-judging-round-workflow .active-round .form-item-active-round {
  display: inline-block;
}

form.competition-judging-round-workflow .active-round .form-item-active-round label,
form.competition-judging-round-workflow .active-round .form-item-active-round select {
  display: inline;
}

form.competition-judging-round-workflow .active-round input.form-submit {
  display: inline-block;
}

form.competition-judging-round-workflow hr {
  margin: 15px 0 20px 0;
}

/* Round action button - opens subform */
form.competition-judging-round-workflow button.round-action {
  margin-left: 0rem;
  margin-right: 1rem;
}

/*
 * Judging entries list page
 */
.judging-instructions .color-key .messages {
  /* Adjust default message styling to be more compact */
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  background-position-y: 10px;
}

/* Entries table */
table.judging > thead th,
table.judging > tbody > tr > td {
  text-align: right;
  position: relative;
  padding-top: 4px;
  padding-bottom: 2px;
}

table.judging > thead th:first-child,
table.judging > tbody > tr > td:first-child {
  text-align: left;
}

table.judging > thead th > a:after {
  bottom: -3px;
}

table.judging td.empty {
  text-align: left;
}

table.judging > tbody > tr > td .ajax-progress {
  display: none;
}

table.judging tr.even {
  background: #f5f5f2;
}

table.judging tbody tr:hover {
  background: #f7fcff;
}

table.judging tr.score-complete,
table.judging tr.score-progress,
.color-key .complete {
  /* Judge: my score is complete, but not final.
     Admin: at least 1 judge's score is complete and final.
     Use same yellow as Drupal warning message */
  background-color: #fdf8ed;
}

table.judging tr.score-final,
.color-key .final {
  /* Judge: my score is complete and final.
     Admin: all assigned judges' scores are complete and final.
     Use same green as Drupal status message */
  background-color: #f3faef;
}

/*
 * Score details table
 */
.judging-score-details-wrap {
  position: relative;
  border: 1px solid #e6e4df;
  background: #fff;
  padding: 10px 12px;
  text-align: left;
}

/* Table rendered in entry modal. */
details .judging-score-details-wrap {
  padding: 0;
  border: 0;
}

table.judging .judging-score-details-wrap {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 100;
}

.judging-score-details-wrap .close {
  position: absolute;
  right: 10px;
  top: 5px;
}

.judging-score-details-wrap .header {
  margin-top: 0;
}

table.judging-score-details th,
table.judging-score-details td {
  white-space: nowrap;
  padding-top: 4px;
  padding-bottom: 2px;
}

table.judging-score-details th.score,
table.judging-score-details td.score {
  text-align: right;
}

table.judging-score-details tr.average td.label {
  text-align: right;
  font-weight: bold;
  /* Override some core thing */
  display: table-cell;
}

table.judging-score-details tr.average td.average {
  text-align: right;
  font-weight: bold;
}

/*
 * Judging modal
 */
.competition-entry-judging-form details input.button {
  margin-left: 0rem;
  margin-right: 2rem;
}

.competition-entry-judging-form .competition-judging-nav {
  position: relative;
  width: 100%;
}

.competition-entry-judging-form .competition-judging-nav-items {
  position: absolute;
  right: 0;
  bottom: 0;
}

.competition-entry-judging-form input.hnav,
.competition-entry-judging-form a.hnav {
  background: transparent;
  color: #0074bd;
  padding: 0;
  font-weight: 600;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: right;
  line-height: 1;
  margin: 0 0 0 1em;
}

.competition-entry-judging-form input.hnav:focus,
.competition-entry-judging-form input.hnav:hover,
.competition-entry-judging-form a.hnav:focus,
.competition-entry-judging-form a.hnav:hover {
  box-shadow: none;
  background: transparent;
  border: 0;
  text-decoration: none;
  font-weight: 600;
}

.competition-entry-judging-form input.hnav:hover,
.competition-entry-judging-form a.hnav:hover {
  color: #3395d2;
}

#competition-entry-modal-notes-content td {
  vertical-align: top;
}
