{#
/**
 * @file
 * Default theme implementation for a competition_entry edit form.
 *
 * This template will be used when a competition_entry edit form specifies 'competition_entry_form'
 * as its #theme callback.  Otherwise, by default, competition_entry add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The competition_entry add/edit form.
 *
 * @ingroup themeable
 */
#}
{{ form }}
